* { box-sizing: border-box; }

body { font-family: "Roboto"; }

.carousel {
  background: #7a7a7a;
}

header{
  text-align: center;
}

.carousel-cell {
  width: 50%;
  height: 300px;
  margin-right: 10px;
  background: rgb(255, 255, 255);  
  counter-increment: gallery-cell;
}

.caroulsel-cell__text1{
  width: 100%;
  font-family: "Roboto";
  font-size: 175%;
}

.button {
  position: absolute; 
  top: 85%; 
  left: 80%; 
  transform: translate(-50%, -50%); 
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.7); 
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 200;
}

.carousel-cell__content {
  width: 100%;
  height: 100%;
  position: relative;
}

.caroulsel-cell__text {
  position: absolute;
  top: 5%; 
  left: 0%;  
  align-items: center;  
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.7); 
  text-align: center;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 200;
}



.carousel-cell__img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Imagen adaptada al contenedor */
}

.carousel-cell button:hover {
  background-color: rgba(0, 0, 0, 0.9); 
}




  

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center; 
  line-height: 200px;
  font-size: 80px;
  color: white;
}
