* { box-sizing: border-box; }

body { font-family: "Roboto"; }

.carousel {
  background: #ffffff;
}

header{
  text-align: center;
}

.carousel-cell {
  width: 50%;
  height: 300px;
  margin-right: 10px;
  background: rgb(255, 255, 255);  
  counter-increment: gallery-cell;
}

.caroulsel-cell__text1{
  width: 100%;
  font-family: "Roboto";
  font-size: 175%;
}

.button {
  position: absolute; 
  top: 80%; 
  left: 80%;   
  padding: 0.4rem 0.7rem;    
  background: linear-gradient(135deg, #160a55, #162e7b);
  color: rgb(255, 255, 255);
  border-radius: 2rem;
  height: 2rem;
  width: auto;
  cursor: pointer;
  font-size: 0.8rem;
  font-family: "Roboto";
  font-weight: 600;
  transform-origin: center;
  
}

.carousel-cell__content {
  width: 100%;
  height: 100%;
  position: relative;
}

.caroulsel-cell__text {
  position: absolute;
  top: 5%; 
  left: 2%;  
  align-items: center;    
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1.5rem;
  padding: 0.4rem 0.7rem;  
  border-radius: 2rem;
  font-weight: 600;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}



.carousel-cell__img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Imagen adaptada al contenedor */
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.9); 
  transform: scale(1.1); /* Aumenta el tamaño ligeramente */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Agrega sombra */
  transition: all 0.3s ease;
}




  

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center; 
  line-height: 200px;
  font-size: 80px;
  color: white;
}

@media (max-width: 1024px) {
  .carousel-cell {
    width: 70%; /* Reduce el tamaño de las celdas */
    height: 30rem;
  }

  .carousel-cell__text {
    font-size: 1.2rem;
  }

  .button {
    top: 80%;
    left: 75%;
    font-size: 0.7rem;
    height: 1.8rem;
  }
}

/* Móviles grandes */
@media (max-width: 768px) {
  .carousel-cell {
    width: 100%;
    height: 28rem;
  }

  .carousel-cell__text {
    font-size: 1rem;
    padding: 0.3rem 0.5rem;
  }

  .button {
    top: 90%;
    left: 70%;
    font-size: 0.6rem;
    height: 1.5rem;
  }
}

/* Móviles pequeños */
@media (max-width: 480px) {
  .carousel-cell {
    height: 25rem; /* Reduce la altura de las celdas */
  }

  .carousel-cell__text {
    font-size: 0.8rem;
    padding: 0.2rem 0.4rem;
  }

  .button {
    top: 90%;
    left: 65%;
    font-size: 0.5rem;
    padding: 0.3rem 0.5rem;
  }
}