body{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background: linear-gradient(135deg, #160a55, #162e7b);
    box-shadow: 0px 6px 12px rgba(3, 0, 0, 0.305);
    color: #ffffff;
    position: relative;
    z-index: 10;
}

#nombre-usuario{
    padding-left: 58rem;
    font-weight: 500;
}
#icono-perfil{
    height: 7vh;
    width: auto;
    cursor: pointer;
}
#icono-salida{
    height: 5vh;
    width: auto;
    cursor: pointer;
    padding-right: 4rem;
}

#logo-header{
    height: 10vh;
    width: auto;
    padding-left: 5rem;
}

#icono-opciones{
    height: 4vh;
    width: auto;
    cursor: pointer;
}


#icono-opcion{
    height: 3.2vh;
    width: auto;
    cursor: pointer;
}
.main{
    display: flex;
    flex-direction: row;
}
.opciones{
    padding: 1rem;
    background-color: rgb(238, 235, 235);
    box-shadow: 2px 6px 12px rgba(3, 0, 0, 0.511);
}

.opciones-article{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2.5rem;
}

#span-opciones{
    color: #160a55; 
    padding-left: 0.8rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
}
.cajas {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;   
    gap: 2rem;                    
    margin: 2rem;               
    flex-grow: 1;                 
}

.cajas article {
    display: flex;
    text-align: start;
    background-color: #ffffff;     
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.622); 
    border-radius: 8px;           
    padding: 1rem;                
    height: 90%;          
}

.cajas h2 {
    margin: 0;       
    font-size: 1.4rem;   
    color: #160a55; 
    font-weight: 500;         
}


.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
    height: 25vh;
    background-color: #0a061f;
    place-items: center;
    color: #ffffff;
    font-size: 0.8rem;
}

#logo_footer {
    height: 10vh;
    width: auto;
}

#box-turnos{
    display: flex;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.622); 
    border-radius: 0.8rem;
    height: 60%;
    width: 80%;
    margin-left: 3rem;
    margin-top: 3rem;
}
.box-turnos-article{
    display: flex;
    flex-direction: column;
}

.box-turnos-article h4{
    color: #160a55;
    font-weight: 600;
}

#icono-editar{
    height: 3rem;
    width: auto;
    padding-left: 3rem;
    cursor: pointer;
}
#icono-editar:hover{
    transform: scale(1.1);
    transition: transform 0.3 ease;
}


#boton-cancelar{
    border-radius: 2rem;
    height: 2rem;
    width: auto;
    color: #ffffff;
    background: linear-gradient(135deg, #160a55, #162e7b);
    font-weight: 600;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 0.8rem;
    margin-left: 11rem;
}
#left-turnos{
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #160a55, #162e7b);
    border-radius: 0.5rem;
    height: 80%;
    width: 30%;
    margin-top: 1rem;
    margin-left: 1rem;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}
#dia-turno{
    margin-bottom: 1rem;
    font-weight: 500;
}
#numero-dia-turno{
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 500;
}

#mes-año-turno{
    font-size: 0.8rem;
    font-weight: 500;
}
#hora-editar{
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    font-weight: 600;
    font-size: 1.2rem;
    height: 40%;
}
#datos-turno{
    display: flex;
    flex-direction: column;
    height: 50%;
    margin-left: 1rem;
    font-size: 0.8rem;
}
#nombre-usuario-turno{
    font-weight: 600;
}

#separaciones{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

#icono-localizacion{
    height: 1rem;
    width: auto;
    margin-right: 0.5rem;
}
#info-localizacion{
    color: #160a55;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    margin-top: 1rem;
    align-items: center;
}

#info-localizacion span{
    font-weight: 500;
}
#span-centro{
    font-size: 1rem;
}

#Sede{
    display: flex;
    flex-direction: column;
}

#mapa{
    height: 12rem;
    width: auto;
    margin-top: 1rem;
    cursor: pointer;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.531); 
}
.mi-credencial{
    display: flex;
    flex-direction: column;
}
.mi-credencial .credencial{
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    height: 60%;
    width: 80%;
    align-self: center;
    background: linear-gradient(135deg, #160a55, #162e7b);
    color: #ffffff;
}
#logo-credencial{
    height: 3rem;
    width: 3rem;
    margin-left: 2rem;
}
#nombre-credencial{
    font-weight: 500;
    margin-left: 3rem;
    margin-top: 1rem;
}
#span-credencial{
    font-weight: 500;
    font-size: 1.3rem;
    align-self: center;
    cursor: pointer;
}
#icono-credencial{
    height: 3rem;
    width: 3rem;
    align-self: center;
    margin-top: 0.5rem;
}

#span-credencial:hover{
    transform: scale(1.1);
    transition: transform 0.3 ease;
}
.datos-medicos{
    display: flex;
    flex-direction: column;
}

.secciones-datos{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3rem;
    align-self: center;
    margin-left: 4rem;
}
.datos-internos{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.559); 
    height: 14vh;
    width: 70%;
    border-radius: 10px;
    background: linear-gradient(135deg, #fbfbfb, #e2e0e0);
    color: #160a55;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    padding-bottom: 0.5rem;
}
.datos-internos img{
    height: 1.8rem;
    width: auto;
    margin: 0.8rem;

}@media screen and (max-width: 800px) {
    body {
        width: 100%;
    }

    .header {
        flex-wrap: nowrap; /* Mantener los elementos en una fila */
        padding: 0 1rem;
    }

    #nombre-usuario {
        font-size: 0.8rem;
        padding-left: 0.5rem;
        margin-left: 15rem; 
    }

    #icono-perfil, #icono-salida {
        height: 4vh; /* Ajustar tamaños */
    }

    #logo-header {
        height: 8vh; /* Ajustar el tamaño del logo */
    }

    .main {
        display: flex;
        flex-direction: row;
    }

    .opciones {
        width: 30%; /* Opciones a la izquierda */
        padding: 0.5rem; /* Reducir espacio interno */
    }

    .cajas {
        width: 70%; /* Cajas a la derecha */
        grid-template-columns: 1fr; /* Una sola columna */
        gap: rem; /* Ajustar separación entre elementos */
    }

    .footer {
        grid-template-columns: repeat(3, 1fr); /* Mantener columnas en mobile */
        gap: 1rem; /* Reducir el espacio entre columnas */
        font-size: 0.7rem; /* Ajustar tamaños */
        padding: 0.5rem;
    }

    #logo_footer {
        height: 8vh; /* Ajustar tamaño del logo del footer */
    }

    .secciones-datos {
        margin-left: 1rem;
        gap: 1rem; /* Reducir espacio entre elementos */
    }

    .datos-internos {
        height: auto; /* Ajustar tamaño de las tarjetas */
        width: 80%; /* Ajustar ancho */
    }

    #mapa {
        width: 90%; /* Ajustar tamaño del mapa */
        height: auto; /* Mantener proporción */
    }
}

