body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}

.header {
  background: #007bff;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.main-content {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.step {
  display: none;
}

.step.active {
  display: block;
  
}

.button {
  border-radius: 2rem;
  height: 2rem;
  width: auto;
  color: #ffffff;
  background: linear-gradient(135deg, #160a55, #162e7b);
  font-weight: 600;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 0.8rem;
}


.card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin: 10px auto;
  width: 80%;
  text-align: center;
}

.footer {
  background: #007bff;
  color: white;
  text-align: center;
  padding: 10px 0;
}
body{
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background: linear-gradient(135deg, #160a55, #162e7b);
  box-shadow: 0px 6px 12px rgba(3, 0, 0, 0.305);
  color: #ffffff;
  position: relative;
  z-index: 10;
}
#nombre-usuario{
  padding-left: 58rem;
}
#icono-perfil{
  height: 7vh;
  width: auto;
  cursor: pointer;
}
#icono-salida{
  height: 5vh;
  width: auto;
  cursor: pointer;
  padding-right: 4rem;
}

#logo-header{
  height: 10vh;
  width: auto;
  padding-left: 5rem;
}

#icono-opciones{
  height: 3.5vh;
  width: auto;
  cursor: pointer;
}

#icono-opcion{
  height: 2.5vh;
  width: auto;
  cursor: pointer;
}
.main{
  display: flex;
  flex-direction: row;
}
.opciones{
  padding: 1rem;
  background-color: rgb(230, 224, 224);
  box-shadow: 2px 6px 12px rgba(3, 0, 0, 0.511);
}

.opciones-article{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 2.5rem;
}

#span-opciones{
  color: #160a55; 
  padding-left: 0.8rem;
  cursor: pointer;
}

.cajas{
  margin-left: 2%;
  margin-right: 2%;
  width: 100%;  
  display: flex;
  text-align: start;
  background-color: #ffffff;     
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.622); 
  border-radius: 8px;           
  padding: 1rem;                
  height: 90%;         
}

.cajas h2 {
  margin: 0;       
  font-size: 1.4rem;   
  color: #160a55; 
  font-weight: 500;       
}


.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem;
  height: 25vh;
  background-color: #0a061f;
  place-items: center;
  color: #ffffff;
  font-size: 0.8rem;
}

#logo_footer {
  height: 10vh;
  width: auto;
}

#box-turnos{
  display: flex;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.622); 
  border-radius: 0.8rem;
  height: 60%;
  width: 80%;
  margin-left: 3rem;
  margin-top: 3rem;
}
.box-turnos-article{
  display: flex;
  flex-direction: row;
}

.box-turnos-article h4{
  color: #160a55;
  font-weight: 600;
}

#icono-editar{
  cursor: pointer;
  height: 3rem;
  width: auto;
  padding-left: 3rem;
}

#turnosContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
}















  